<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>PokeDex</h1>
  
<section>
  <ul>
    <% pokemon.forEach(pokemon => { %>
      <li>
        <a href="/pokemons/<%= pokemon._id %>">PokeDex No.<%= pokemon.pokedexId %></a> 
            Name:<%= pokemon.name %>
      </li>
    <% }) %>
  </ul>
</section>  

</main>

<%- include('../partials/footer') %>