<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>PokeDex</h1>
  
  
<section>
  <ul>
    <% pokemon.forEach(pokemon => { %>
      <li>
        <a href="/pokemon/<%= pokemon._id %>"> <img src="<%= pokemon.sprite %>"></a><br>
        No. <%= pokemon.pokedexId %> 
        Name: <%= pokemon.name[0].toUpperCase() + pokemon.name.substring(1) %>

        <br>
        <% if (pokemon.type1.length > 1) { %>
          <%= pokemon.type1[0].toUpperCase() %><%= ` ` %>   
          <%= pokemon.type1[1].toUpperCase() %>  
        <% } else { %>
          <%= pokemon.type1[0].toUpperCase() %>
        <% } %> 
        <br>
        <% if (user.profile.team.includes(pokemon._id)) {%> 

        <% } else { %> 
          <form action="/pokemon/<%= pokemon._id %>/addtoteam" method="POST">
            <button type="submit">Add to Team</button>
          </form>
        <% } %> 
      </li>
    <% }) %>
  </ul>
</section>  

</main>

<%- include('../partials/footer') %>