<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>PokeDex</h1>
  
<section>
  <ul>
    <% pokemon.forEach(pokemon => { %>
      <li>
        <img src="<%= pokemon.sprite %>"><br>
        No.<%= pokemon.pokedexId %> 
        Name:<%= pokemon.name %><br>
        Height:<%= pokemon.height %>
        Weight:<%= pokemon.weight %><br>
        Info: <%= pokemon.description %> 
      </li>
    <% }) %>
  </ul>
</section>  

</main>

<%- include('../partials/footer') %>