<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
<a href="/pokemon"><h3>Back to PokeDex</h3></a>

    <ul>
      <li>
          <img src="<%= pokemon.sprite %>"><br>
          No. <%= pokemon.pokedexId %> 
          Name: <%= pokemon.name[0].toUpperCase() + pokemon.name.substring(1) %>

          <br>
          <% if (pokemon.type1.length > 1) { %>
            <%= pokemon.type1[0].toUpperCase() %><%= ` ` %> 
            <%= pokemon.type1[1].toUpperCase() %>  
          <% } else { %>
            <%= pokemon.type1[0].toUpperCase() %>
          <% } %> 
          <br>
          Height: <%= pokemon.height/10 %> m
          Weight: <%= pokemon.weight/10 %> kg 
          <br>
          <%= pokemon.description %> 
          <form action="/pokemon/<%= pokemon._id %>/addtoteam2" method="POST">
            <button type="submit">Add to Team</button>
          </form>
        </li>
    </ul>
    
</section>

<%- include('../partials/footer') %>