<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>  
  <h1>It's <%= isSelf ? profile.name : 'you' %>!</h1>
  <% if (profile.team == null) { %> 
    <h2>Not Your Account</h2>
    <% } else { %> 
      <form action="/profiles/<%= profile._id %>/createteam" method="POST">
        <button type="submit">Create Team</button>
      </form>
  <% } %>
<h1> <%= profile.team %> </h1>

<%- include('../partials/footer') %>