<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Hello, <%= user ? `Trainer ${user.profile.name}!` : "Pokemon Trainer!" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
    <form action="/add" 
    method="GET"
    >
    <input 
    type="text" 
    name="pokemon" >

    <button>Enter Pokemon</button>

    </form>
</main>

<%- include('./partials/footer') %>
